---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Metodologia from "../components/Metodologia.astro";
import Motivacion from "../components/Motivacion.astro";
import Carousel from "../components/Carousel.astro";

import { defaultLang } from "../i18n/indexui";  //traducciones de la pagina de inicio
---

<Layout 
  Lang={defaultLang}
  title="Español con Lady - Aprende Español de Forma Divertida y Eficaz">
  <Header />

  <main>
    <Hero />
    <Metodologia />
    <Motivacion />
    <Carousel client:visible />
  </main>
  <Footer />
</Layout>
