---
import "../styles/Carousel.css";
const cartas  = ['Carta A', 'Carta B', 'Carta C', 'Carta D', 'Carta E', 'Carta F'];
//const texto = "Hola, soy un texto de prueba";
---
<section>
<div id="testimonials" class="container-custom">
  <!-- <div class="counter" x-data={`{ count: ${initialCount} }`}>
    <button x-on:click="count--">-</button>
    <pre x-text="count">{ initialCount }</pre>
    <button x-on:click="count++">+</button>
  </div> -->
  <!-- <div x-data={`test({ texto: '${texto}' })`}></div> -->
   <div x-data={`carousel(${JSON.stringify(cartas)})`} x-init="init()" class="carousel-container relative w-full overflow-hidden"> -->
    <!-- Contenedor del carrusel -->
    <div 
      class="flex transition-transform duration-700 ease-out"
      :style="'transform: translateX(-' + (index * 33.33) + '%)'"
    >
      <template x-for="(item, i) in items" :key="i">
        <div class="w-1/3 px-2 flex-shrink-0">
          <div class="carousel-card"> 
          <p class="text-lg font-semibold" x-text="item"></p>
          </div>
        </div>
      </template>
    </div>

    <!-- Botones de navegación -->
    <button x-on:click="prev()" class="absolute left-0 carousel-btn rounded-full">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-width="3" class="size-5 md:size-6 pr-0.5" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
    </svg>
    </button>
    <!-- <button @click="next()" class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-gray-700 text-white px-3 py-2 rounded"> -->
      <button x-on:click="next()" class="absolute right-0 carousel-btn rounded-full ">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-width="3" class="size-5 md:size-6 pl-0.5" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
      </svg>
    </button>

  </div>
</div>
  
</section>
 <script>import "../scripts/carousel.js"</script> 
 <style>
	.counter {
		display: grid;
		font-size: 2em;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		margin-top: 2em;
		place-items: center;
	}

	.counter-message {
		text-align: center;
	}
</style>