---
import Navigation from "./Navigation.astro";
---

<style>
    header {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
        background-color: rgb(206, 206, 229);
        display: grid;
        place-items: center;
    }
</style>

<header>
    <nav>
        <Navigation />
    </nav>
</header>
