---
import ladyLogo from "../assets/logoLady.png";
import Navigation from "./Navigation.astro";
import NavigationMobile from "./NavigationMobile.astro";

import "../styles/header.css";

const title = "Español Con Lady";

const headerPages = [
  { text: "Home", url: "/" },
  { text: "Clases y Servicios", url: "/features" },
  { text: "Recursos", url: "/integrations" },
  { text: "Blog", url: "/blog" },
  { text: "Sobre Mi", url: "/about" },
];
---

<header
  class="sticky top-0 w-full bg-blue-50 dark:bg-secondary-950/90 backdrop-blur-sm z-50 py-4 transition-colors duration-300"
>
  <div
    class="container-custom flex items-center justify-between border-spacing-1.5 border-cyan-200"
  >
    <a href="/" class="flex items-center" aria-label="Go to homepage">
      <img class="h-10 w-auto" src={ladyLogo.src} />
      <span
        class="ml-2 text-xl font-display font-semibold text-secondary-900 dark:text-white"
        >{title}</span
      >
    </a>

    <Navigation menuItems={headerPages} />

    <div class="flex items-center space-x-4 header">
      <button
        x-on:click="darkMode = !darkMode"
        class="p-2 rounded-full text-secondary-500 hover:text-secondary-700 dark:text-secondary-400 dark:hover:text-secondary-200 focus:outline-none focus:ring-2 focus:ring-primary-500"
        aria-label="Toggle dark mode"
      >
        <svg
          x-show="!darkMode"
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"
          ></path>
        </svg>
        <svg
          x-show="darkMode"
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"
          ></path>
        </svg>
      </button>

      <a href="/contact" class="hidden sm:inline-flex btn-primary"
        >Contactame</a
      >

      <NavigationMobile menuItems={headerPages} />
    </div>
  </div>
</header>

