---
import HeroSection from "./HeroSection.astro";


const heroDescription = {
    title: "Bienvenido a ",
    highlightText: "\nEspañol con Lady",
    description:
        "¡Aprende Español de Forma Divertida y Eficaz!",
};
---
<HeroSection {...heroDescription} />

          {/* Call to Action Section */}
          <section class="bg-gray-200 py-12 rounded-lg shadow-md mb-8 text-center">
            <h2 class="text-2xl font-semibold text-gray-800 mb-4">Comienza tu Camino hacia el Español Hoy Mismo</h2>
            <p class="text-lg text-gray-700 mb-6">No importa si eres principiante o avanzado, mis clases están diseñadas para llevarte al siguiente nivel. ¡Juntos lograremos que hables español con fluidez y confianza!</p>
</section>
  

  <!-- Beneficios 
    <section class="bg-gray-200 py-10">
        <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-6 p-6">
          <div class="bg-white p-6 rounded shadow-md">
            <h3 class="text-xl font-semibold">Clases Adaptadas a Ti</h3>
            <p class="text-gray-600">Cada estudiante es único, por eso adapto mis clases según tu nivel y ritmo de aprendizaje.</p>
          </div>
          <div class="bg-white p-6 rounded shadow-md">
            <h3 class="text-xl font-semibold">Profesora Certificada</h3>
            <p class="text-gray-600">Con más de cuatro años de experiencia enseñando español a francófonos.</p>
          </div>
        </div>
      </section>-->
    


      <!-- Cursos 
    
          <section class="container mx-auto my-10 p-6 bg-white shadow-md rounded-lg">
        <h2 class="text-3xl font-semibold text-center">Cursos Disponibles</h2>
        <ul class="list-disc mt-4 ml-6 text-gray-700">
          <li>Principiantes (A1-A2): Aprende los fundamentos del español.</li>
          <li>Intermedio (B1-B2): Mejora tu fluidez y vocabulario.</li>
          <li>Avanzado (C1-C2): Perfecciona tu español con temas avanzados.</li>
        </ul>
      </section>
  
      <!-- Testimonios 
      <section class="bg-gray-200 py-10 text-center">
        <h2 class="text-3xl font-semibold">Lo que dicen mis estudiantes</h2>
        <p class="text-gray-600 mt-4">"Las clases con Lady han sido transformadoras. Ahora me siento mucho más seguro al hablar español."</p>
      </section>-->