---
import HeroSection from "./HeroSection.astro";


const heroDescription = {
    title: "Bienvenido a ",
    highlightText: "\nEspañol con Lady",
    description:
        "¡Aprende Español de Forma Divertida y Eficaz!",
};
---
<HeroSection {...heroDescription} />

          {/* Call to Action Section */}
<section class="section rounded-lg shadow-md text-center ml-8 mr-8">
  <h2 class="mb-8">Comienza tu Camino hacia el Español Hoy Mismo</h2>
  <p class="mb-2 text-xl">No importa si eres principiante o avanzado, mis clases están diseñadas para llevarte al siguiente nivel. </p>
  <p class=" mb-2 text-xl">¡Juntos lograremos que hables español con <b>fluidez y confianza!</b></p>
</section>