---
import HeroSection from "./HeroSection.astro";


const heroDescription = {
    title: "Bienvenido a ",
    highlightText: "\nEspañol con Lady",
    description:
        "¡Aprende Español de Forma Divertida y Eficaz!",
};
---

<!-- <section
    class="flex bg-blue-100 dark:bg-secondary-800 rounded-lg shadow-md "
>
    <div class="container mx-auto text-center">
        <!-- <h1 class="text-4xl font-bold mb-4">Bienvenido a Español con Lady</h1>
        <p class="text-xl mb-6">
            ¡Aprende Español de Forma Divertida y Eficaz!
        </p>
        <p class="text-lg mb-8">
            Explora, descubre y aprende. Descubriendo otra forma de aprender
            español.
        </p>
        <button
            class="bg-green-500 hover:bg-green-700 text-white font-bold py-3 px-6 rounded-full shadow-md"
            >Reserva tu Clase de Prueba Gratis</button
        > 
    </div>
</section> -->
<HeroSection {...heroDescription} />
